.mi-boton {
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 10px;
    background: aquamarine;
    border-color: transparent;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.mi-boton img {
    max-width: 100%;
    max-height: 100%;
}

.mi-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: #0C2340;
    background-color: #6CABDD; /* Fondo de color azul claro */
    padding: 10px; /* Espaciado alrededor del texto */
    font-family: 'Tahoma', sans-serif;
    font-size: 3em;
    text-align: center;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.titulo img{
    width: 100px;
    height: 100px;
}
.logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}